body{

}
.wrapper {
    box-sizing: border-box;
    background-color: #cfc9d6;
    width: 900px;
    height: 500px;
    border: 1px solid #313131;
    border-radius: 25px 0px 0px 25px;
    overflow: auto;
}

.container {
    display: inline-block;
    background-color: #9e907e;
    width: 260px;
    height: 200px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px #000000;
}
.text{
    padding: 10px 30px 15px 30px;
}
